body {
    margin: 0;
    padding: 0;
    background-color: #ffffff81;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #212121;
    color: white;
}

.tilbakelink {
    display: flex;
    justify-content: left;
    width: 33%;
}

.navtekst {
    display: flex;
    justify-content: center;
    width: 33%;
}

.navtom {
    width: 33%;
}

.tilbakelink a {
    text-decoration: none;
    color: white;
    margin-left: 2vh;
}

.tittel {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

hr {
    color: rgb(0, 0, 0);
    width: 5vh;
    margin-bottom: -2vh;
}

.partiboks1 {
    display: flex;
    justify-content: center;
}

.kort {
    width: 60vh;
    background-color: rgba(255, 255, 255, 0.642);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;    
    border-radius: 12px;
    padding: 1.5vh;
    margin: 5vh;
}

#chartContainer {
    display: flex;
    justify-content: center;
}

.bob {
    display: flex;
    justify-content: center;
    gap: 2vh;
    margin-left: 0.5;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #212121;
    color: white;
}

.button {
    display: flex;
    justify-content: center;
    background-color: #212121;
    width: 10vh;
    color: white;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;    
    border-radius: 12px;
    margin: 3vh;
    padding: 1vh;
}

.buttonplace {
    display: flex;
    justify-content: center;
}

.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}